.notfound-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
}
.error {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Bree Serif';

  font-weight: 800;
}
