.match-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  border: 0px solid;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  width: 47%;
}
.team-logo {
  height: 80px;
  width: 80px;
}
.team-name {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bree Serif';
  font-weight: 800;
}
.match-result {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.match-status {
  font-size: 18px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
.status-won {
  color: #18ed66;
}
.status-lose {
  color: #e31a1a;
}
