.team-name {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
  font-weight: 800;
}
.match-result {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
  font-weight: 800;
}
.match-status {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
  font-weight: 800;
}
