.match-details-container {
  background-color: #a4261d;
}
.team-players-img {
  width: 90%;
}
.latest-matches-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
  font-weight: 800;
}
